$color-h1-header: white;
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

header{
    h1{
        width: 30%;
        display: flex;
        flex-direction: column;
        padding: 1em;
    }
    a{
        color: $color-h1-header;
        border-style: solid;
        border-color: $color-paleta-yellow;
        border-width: 1px;
        background-color: $color-body;
    }
}
header{
    h1{
        text-align: center;
        img{
            border-radius: 50%;
        }
        span{
            color: $color-h1-header;
            text-decoration: underline;
            text-decoration-color: $color-paleta-yellow;
        }
    }
    h2{
        background-color: $color-bg-tittles;
        border-radius: 1em;
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}